<ion-view view-title="Create Account" name="login-view">
    <ion-content class="padding">
        <div class="card">
            <div class="item item-text-wrap">
                Usernames must be between 6-15 characters in length.  Passwords must be between 6-20 characters in length.
                They may contain only alphanumeric characters & underscores.
            </div>
        </div>
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="Username" ng-model="data.username">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Password" ng-model="data.password">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Bank Account Number" ng-model="data.accountNumber">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="E-mail" ng-model="data.email">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Monthly Budget" ng-model="data.budget">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Estimated Party Nights per Month" ng-model="data.partyNights">
            </label>
        </div>
        <button class="button button-block button-assertive" ng-click="createAccount()">Create Account</button>

    </ion-content>
</ion-view>