<ion-view view-title="Account Breakdown">
    <ion-nav-buttons side="right">
        <button class="button icon ion-gear-a color assertive" color="assertive" ng-click="doSomething()"></button>
    </ion-nav-buttons>
    <ion-content class="has-header padding">

        <div class="list card">
            <div class="item item-avatar">
                <img src="/img/capital_one.jpg">
                <h2>ACCOUNT BALANCE</h2>
            </div>

            <div class="item item-body">
                <p>
                    <font size="30">$8,452.33</font>
                </p>

            </div>
        </div>
        </div>
        <div class="list card">
            <div class="item item-avatar">
                <img src="/img/graph.png">
                <h2>AVERAGE PARTY SPENDING</h2>
            </div>

            <div class="item item-body">
                <p>
                    <font size="30">$23.29</font>
                </p>

            </div>
        </div>
        <div class="list">
            <label class="item item-input item-stacked-label item-light">
                <span class="input-label">Current Monthly Budget</span>
                <input type="text" placeholder="$200.00">
            </label>
            <label class="item item-input item-stacked-label item-light">
                <span class="input-label">Estimated Monthly Party Nights</span>
                <input type="text" placeholder="6">
            </label>
            <button class="button button-assertive" ng-click="updateUserInfo()">Update </button>
        </div>

    </ion-content>
</ion-view>