<ion-view view-title="Party Card Budget">
    <ion-content>
        <p>
            <img src="/img/ChampagneTops.jpg" style="float:center;width:400px;height:150px;">
        </p>
        <div class="list card">

            <div class="item item-avatar">
                <img src="/img/Calendar.jpg">
                <h2>TONIGHT'S BUDGET</h2>
                <p ng-bind="date"></p>
            </div>

            <div class="item item-body">
                <p>
                    <font size="30">$42.00</font>
                </p>
            </div>
        </div>
        <div class="list card">
            <div class="item item-avatar">
                <img src="/img/wallet.jpeg">
                <h2>BUDGET REMAINING THIS MONTH</h2>
                <p ng-bind="daysRemaining"></p>

            </div>

            <div class="item item-body">
                <p>
                    <font size="30">$176.71</font>
                </p>

            </div>
        </div>
    </ion-content>

</ion-view>